@model TH04.Models.phong

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>phong</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenphong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenphong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Succhua)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Succhua)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Loaiphong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Loaiphong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sanh.Masanh)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Maphong">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
