@model IEnumerable<TH04.Models.tiec>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tentiec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngaydat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tentiec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaydat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kh.Makh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Matiec">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Matiec">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Matiec">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
